<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="webdqblog" />
		<meta name="keywords" content="webdqblog,webdq,blog" />
		<link rel="stylesheet" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/css/font-awesome.min.css">
		<link rel="stylesheet" href="/public/css/article_list.css">
	</head>
	<body>
		<div class="header">
			<% include ../include/nav.ejs%>
		</div>
			
		<div class="main">
			<div class="container">
				<div class="search">
					<form method="get" action="/articles/list">
						<div class="row">
							<div class="col-sm-2">
								<p style="line-height: 34px;">共<%= count %>篇文章</p>
							</div>
							<div class="col-sm-4 col-sm-offset-6">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" type="text" name="keyword" placeholder="输入文章标题关键字" value="<%= keyword %>">
										<div class="input-group-btn">
											<button type="submit" class="btn btn-ok">搜索</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="article-list">
					<% if(articles.length){ %>
						<% articles.forEach(function(article,index){ %>
						<div class="row">
							<div class="col-sm-12">
								<div class="post-item">
									<div class="post-user">
										<div class="media">
											<div class="media-left">
												<a href="#">
													<img class="media-object img-circle" src="<%= article.user.avatar %>" width="40" height="40">
												</a>
											</div>
											<div class="media-body">
												<h4 class="media-heading"><%= article.user.username%></h4>
											</div>
										</div>
									</div>

									<div class="post-desc">
										<div class="post-title"><a href="/articles/detail/<%= article._id %>"><%= article.title %></a></div>
										<div class="post-des"><%- article.des %></div>
									</div>
									<div class="post-date">
										<span class="posted"><%= article.createAt.toLocaleString() %></span>
									</div>
								</div>
							</div>
						</div>
						<% }) %>
					<% }else{ %>
					<div class="post-item">
						<h2 class="text-center">搜索不到相关的文章</h2>
					</div>
					<% } %>
				</div>

                <% if(articles.length){ %>
				<nav aria-label="">
					<ul class="pager">
						<% if(pageNum == 1){ %>
						<li class="previous disabled"><a href="javascript:;"><span aria-hidden="true">&larr;</span> 上一页</a></li>
						<% }else{ %>
						<li class="previous"><a href="/articles/list?pageNum=<%= (pageNum-1) %>&pageSize=10?keyword=<%= keyword %>"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                        <% } %>
                        <% if(pageNum == totalPage){ %>
						<li class="next disabled"><a href="javascript:;">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                        <% }else{ %>
						<li class="next"><a href="/articles/list?pageNum=<%= (pageNum+1) %>&pageSize=10&keyword=<%= keyword %>">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                        <% } %>
					</ul>
				</nav>
                <% } %>
			</div>
		</div>
		
		<% include ../include/footer.ejs%>

		<script src="/public/js/jquery.min.js"></script>
		<script src="/public/js/bootstrap.min.js"></script>
	</body>
</html>
